openapi: 3.2.0
info:
  title: DAT Freight & Analytics API (Modeled) Rate View API
  description: A modeled OpenAPI description of the DAT Freight & Analytics RESTful API suite exposed through the DAT Developer Portal (developer.dat.com).
  version: 1.0-modeled
  contact:
    name: DAT Developer Support
    url: https://developer.dat.com/
    email: developersupport@dat.com
  x-modeled: true
  x-endpointsModeled: true
servers:
- url: https://identity.api.dat.com
  description: Identity / token service (modeled host)
- url: https://freight.api.dat.com
  description: Freight - load board, posting, BookNow, tracking (modeled host)
- url: https://analytics.api.dat.com
  description: Analytics - RateView rate lookups (modeled host)
security:
- userToken: []
tags:
- name: RateView
  description: Spot and contract freight-rate lookups.
paths:
  /linehaulrates/v1/lookups:
    post:
      operationId: lookupRates
      tags:
      - RateView
      summary: Look up RateView freight rates (modeled)
      description: Retrieve RateView spot and contract benchmark rates for one or more lanes by origin, destination, and equipment type. Requires a RateView Combo Pro or Combo Premium subscription. MODELED path and schema.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateLookupRequest'
      responses:
        '200':
          description: Rate lookup results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLookupResults'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    RateLookupRequest:
      type: object
      required:
      - origin
      - destination
      - equipment
      properties:
        origin:
          $ref: '#/components/schemas/Location'
        destination:
          $ref: '#/components/schemas/Location'
        equipment:
          type: string
        rateType:
          type: string
          enum:
          - SPOT
          - CONTRACT
    Location:
      type: object
      properties:
        city:
          type: string
        stateProvince:
          type: string
        postalCode:
          type: string
        country:
          type: string
    RateLookupResults:
      type: object
      properties:
        rate:
          type: object
          properties:
            averageRate:
              type: number
            lowRate:
              type: number
            highRate:
              type: number
            currency:
              type: string
              example: USD
            rateType:
              type: string
  responses:
    Unauthorized:
      description: Missing or invalid token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    userToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: User access token obtained from POST /access/v1/token/user, which itself requires an organization token from POST /access/v1/token/organization.
