openapi: 3.2.0
info:
  title: DAT Freight & Analytics API (Modeled) Book Now API
  description: A modeled OpenAPI description of the DAT Freight & Analytics RESTful API suite exposed through the DAT Developer Portal (developer.dat.com).
  version: 1.0-modeled
  contact:
    name: DAT Developer Support
    url: https://developer.dat.com/
    email: developersupport@dat.com
  x-modeled: true
  x-endpointsModeled: true
servers:
- url: https://identity.api.dat.com
  description: Identity / token service (modeled host)
- url: https://freight.api.dat.com
  description: Freight - load board, posting, BookNow, tracking (modeled host)
- url: https://analytics.api.dat.com
  description: Analytics - RateView rate lookups (modeled host)
security:
- userToken: []
tags:
- name: BookNow
  description: Instant digital load booking.
paths:
  /booknow/v1/bookings:
    post:
      operationId: createBooking
      tags:
      - BookNow
      summary: Book a load (modeled)
      description: Book a bookable (BookNow) load at its posted rate. MODELED path.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
      responses:
        '201':
          description: The created booking.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    BookingRequest:
      type: object
      required:
      - assetId
      properties:
        assetId:
          type: string
        carrierMcNumber:
          type: string
    Booking:
      type: object
      properties:
        id:
          type: string
        assetId:
          type: string
        status:
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    userToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: User access token obtained from POST /access/v1/token/user, which itself requires an organization token from POST /access/v1/token/organization.
