openapi: 3.0.3
info:
  title: DAT Freight & Analytics API (Modeled) BookNow Tracking API
  description: 'A modeled OpenAPI description of the DAT Freight & Analytics RESTful API suite exposed through the DAT Developer Portal (developer.dat.com). DAT operates the DAT One load board and RateView freight-rate benchmark and offers RESTful integrations for load posting and search, RateView rate lookups, BookNow instant booking, and shipment tracking, primarily for Transportation Management Systems (TMS) and freight platforms.


    IMPORTANT - MODELED: The developer portal is gated behind an account login (Redocly OIDC), so the exact base URLs, endpoint paths, request parameters, and response schemas below could NOT be confirmed against the live reference in this build. They are honestly modeled from DAT''s publicly documented capabilities (LoadSearch for postings, RateView for analytics) and its documented two-tier organization/user token authentication. The host names (identity.api.dat.com, freight.api.dat.com, analytics.api.dat.com) represent the plausible service split and should be reconciled against the portal once access is granted.


    Access is subscription-gated. RESTful integration requires a DAT One load board subscription plus a service (organization) account; RateView access requires a Combo Pro or Combo Premium subscription. CarrierWatch and OnBoard do not currently support RESTful API integration. Contact developersupport@dat.com for portal access.'
  version: 1.0-modeled
  contact:
    name: DAT Developer Support
    url: https://developer.dat.com/
    email: developersupport@dat.com
  x-modeled: true
  x-endpointsModeled: true
servers:
- url: https://identity.api.dat.com
  description: Identity / token service (modeled host)
- url: https://freight.api.dat.com
  description: Freight - load board, posting, BookNow, tracking (modeled host)
- url: https://analytics.api.dat.com
  description: Analytics - RateView rate lookups (modeled host)
security:
- userToken: []
tags:
- name: Tracking
  description: Shipment location and status visibility.
paths:
  /tracking/v1/shipments:
    post:
      operationId: registerShipment
      tags:
      - Tracking
      summary: Register a shipment for tracking (modeled)
      description: Register a load for DAT Tracking shipment visibility. MODELED path.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentInput'
      responses:
        '201':
          description: The registered shipment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tracking/v1/shipments/{shipmentId}:
    parameters:
    - name: shipmentId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getShipment
      tags:
      - Tracking
      summary: Get shipment status (modeled)
      description: Retrieve current location and status for a tracked shipment. MODELED path.
      responses:
        '200':
          description: The shipment tracking record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Missing or invalid token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Location:
      type: object
      properties:
        city:
          type: string
        stateProvince:
          type: string
        postalCode:
          type: string
        country:
          type: string
    Shipment:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        lastLocation:
          $ref: '#/components/schemas/Location'
        updatedWhen:
          type: string
          format: date-time
    ShipmentInput:
      type: object
      required:
      - referenceNumber
      properties:
        referenceNumber:
          type: string
        carrierMcNumber:
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    userToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: User access token obtained from POST /access/v1/token/user, which itself requires an organization token from POST /access/v1/token/organization.
